{
    "$schema": "https://json.schemastore.org/swcrc",
    "sourceMaps": true,
    "jsc": {
        "parser": {
          "syntax": "typescript",
          "decorators": true
        },
        "baseUrl": "./",
        "target": "es2017"
    },
    "module": {
        "type": "es6",
        "resolveFully": true
    },
    "minify": false
}